<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero-heading">
        Do you need help? <br/>
        Find it on Ninerr
        <p>Look. Find. Deal.</p>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Need help?..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                Find Services
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container section">
  <h1>
    Newest Gigs
  </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="gig-card">
        <%= image_tag 'blog.jpg' %>
        <h4>
          I will write 300 words blog
        </h4>
        <h3>
          $6
        </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="gig-card">
        <%= image_tag 'piano.jpg' %>
        <h4>
          I will teach you piano
        </h4>
        <h3>
          $6
        </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="gig-card">
        <%= image_tag 'clean.jpg' %>
        <h4>
          I will clean your house
        </h4>
        <h3>
          $6
        </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="gig-card">
        <%= image_tag 'guitar.jpg' %>
        <h4>
          I will teach you guitar
        </h4>
        <h3>
          $6
        </h3>
      </div>
    </div>
  </div>
</div>


